<section class="{{ page.footer-class }} bg-dark navbar d-print-none">
  <footer class="container">
    <nav class="col-12">
      <ul class="list-unstyled row row-column gap-md-4 my-3 my-md-0">
        <img
          class="d-none d-print-block"
          src="../assets/CT_logo_Wht_outline.gif"
          alt="California Department of Transportation"
          width="80"
        />
         <img
          class="d-none d-print-block"
          src="../assets/Calitp_logo_MAIN.png"
          alt=" California Integrated Travel Project"
          width="119"
        />
      </ul>
    </nav>
  </footer>
</section>
