<header class="d-print-none">
  <nav class="navbar navbar-expand-lg fixed-top bg-white" aria-label="Navigation">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="../assets/dds.png" alt="Data and Digital Services" width="119" />
      </a>
      <div class="navbar-collapse collapse justify-content-end" id="mainNav">
        <ul class="navbar-nav mb-0">
          {% include link_repeater.html list_class="nav-item" menu_items=site.navigation.header anchor_class="nav-link h4 mb-0
          d-block rounded-1 text-nowrap" %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<img
  class="d-none d-print-block"
  src="../assets/dds.png"
  alt="Data and Digital Services"
  width="119"
/>
