portfolio/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_10__district_title_district-10-stockton/0__dla_district_report__district_10__district_title_district-10-stockton.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_11__district_title_district-11-san-diego/0__dla_district_report__district_11__district_title_district-11-san-diego.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_12__district_title_district-12-irvine/0__dla_district_report__district_12__district_title_district-12-irvine.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_1__district_title_district-1-eureka/0__dla_district_report__district_1__district_title_district-1-eureka.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_2__district_title_district-2-redding/0__dla_district_report__district_2__district_title_district-2-redding.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_3__district_title_district-3-marysville/0__dla_district_report__district_3__district_title_district-3-marysville.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_4__district_title_district-4-oakland/0__dla_district_report__district_4__district_title_district-4-oakland.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_5__district_title_district-5-san-luis-obispo/0__dla_district_report__district_5__district_title_district-5-san-luis-obispo.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_6__district_title_district-6-fresno/0__dla_district_report__district_6__district_title_district-6-fresno.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_7__district_title_district-7-los-angeles/0__dla_district_report__district_7__district_title_district-7-los-angeles.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_8__district_title_district-8-san-bernardino/0__dla_district_report__district_8__district_title_district-8-san-bernardino.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/dla/district_9__district_title_district-9-bishop/0__dla_district_report__district_9__district_title_district-9-bishop.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/hqta/0__hqta_green_SACOG__.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/hqta/0__tier1-facilities-hqta__.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_01-eureka/0__competitive-parallel-routes__district_01-eureka__itp_id_159.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_01-eureka/1__competitive-parallel-routes__district_01-eureka__itp_id_261.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_02-redding/0__competitive-parallel-routes__district_02-redding__itp_id_259.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/0__competitive-parallel-routes__district_03-marysville__itp_id_101.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/1__competitive-parallel-routes__district_03-marysville__itp_id_221.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/2__competitive-parallel-routes__district_03-marysville__itp_id_271.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/3__competitive-parallel-routes__district_03-marysville__itp_id_273.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/4__competitive-parallel-routes__district_03-marysville__itp_id_331.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/5__competitive-parallel-routes__district_03-marysville__itp_id_351.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_03-marysville/6__competitive-parallel-routes__district_03-marysville__itp_id_372.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/0__competitive-parallel-routes__district_04-oakland__itp_id_4.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/10__competitive-parallel-routes__district_04-oakland__itp_id_281.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/11__competitive-parallel-routes__district_04-oakland__itp_id_282.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/12__competitive-parallel-routes__district_04-oakland__itp_id_290.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/13__competitive-parallel-routes__district_04-oakland__itp_id_294.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/14__competitive-parallel-routes__district_04-oakland__itp_id_301.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/15__competitive-parallel-routes__district_04-oakland__itp_id_310.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/16__competitive-parallel-routes__district_04-oakland__itp_id_314.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/17__competitive-parallel-routes__district_04-oakland__itp_id_324.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/18__competitive-parallel-routes__district_04-oakland__itp_id_336.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/19__competitive-parallel-routes__district_04-oakland__itp_id_350.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/1__competitive-parallel-routes__district_04-oakland__itp_id_76.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/20__competitive-parallel-routes__district_04-oakland__itp_id_356.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/2__competitive-parallel-routes__district_04-oakland__itp_id_106.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/3__competitive-parallel-routes__district_04-oakland__itp_id_110.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/4__competitive-parallel-routes__district_04-oakland__itp_id_167.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/5__competitive-parallel-routes__district_04-oakland__itp_id_194.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/6__competitive-parallel-routes__district_04-oakland__itp_id_218.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/7__competitive-parallel-routes__district_04-oakland__itp_id_246.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/8__competitive-parallel-routes__district_04-oakland__itp_id_247.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_04-oakland/9__competitive-parallel-routes__district_04-oakland__itp_id_279.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_05-san-luis-obispo/0__competitive-parallel-routes__district_05-san-luis-obispo__itp_id_208.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_05-san-luis-obispo/1__competitive-parallel-routes__district_05-san-luis-obispo__itp_id_289.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_05-san-luis-obispo/2__competitive-parallel-routes__district_05-san-luis-obispo__itp_id_293.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_05-san-luis-obispo/3__competitive-parallel-routes__district_05-san-luis-obispo__itp_id_296.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/0__competitive-parallel-routes__district_06-fresno__itp_id_91.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/1__competitive-parallel-routes__district_06-fresno__itp_id_116.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/2__competitive-parallel-routes__district_06-fresno__itp_id_148.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/3__competitive-parallel-routes__district_06-fresno__itp_id_346.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/4__competitive-parallel-routes__district_06-fresno__itp_id_361.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_06-fresno/5__competitive-parallel-routes__district_06-fresno__itp_id_474.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/0__competitive-parallel-routes__district_07-los-angeles__itp_id_16.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/10__competitive-parallel-routes__district_07-los-angeles__itp_id_295.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/11__competitive-parallel-routes__district_07-los-angeles__itp_id_300.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/12__competitive-parallel-routes__district_07-los-angeles__itp_id_337.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/13__competitive-parallel-routes__district_07-los-angeles__itp_id_339.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/14__competitive-parallel-routes__district_07-los-angeles__itp_id_380.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/1__competitive-parallel-routes__district_07-los-angeles__itp_id_87.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/2__competitive-parallel-routes__district_07-los-angeles__itp_id_102.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/3__competitive-parallel-routes__district_07-los-angeles__itp_id_120.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/4__competitive-parallel-routes__district_07-los-angeles__itp_id_170.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/5__competitive-parallel-routes__district_07-los-angeles__itp_id_179.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/6__competitive-parallel-routes__district_07-los-angeles__itp_id_182.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/7__competitive-parallel-routes__district_07-los-angeles__itp_id_183.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/8__competitive-parallel-routes__district_07-los-angeles__itp_id_231.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_07-los-angeles/9__competitive-parallel-routes__district_07-los-angeles__itp_id_260.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_08-san-bernardino/0__competitive-parallel-routes__district_08-san-bernardino__itp_id_232.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_08-san-bernardino/1__competitive-parallel-routes__district_08-san-bernardino__itp_id_360.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_09-bishop/0__competitive-parallel-routes__district_09-bishop__itp_id_99.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_10-stockton/0__competitive-parallel-routes__district_10-stockton__itp_id_168.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_10-stockton/1__competitive-parallel-routes__district_10-stockton__itp_id_203.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_10-stockton/2__competitive-parallel-routes__district_10-stockton__itp_id_284.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_10-stockton/3__competitive-parallel-routes__district_10-stockton__itp_id_349.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_11-san-diego/0__competitive-parallel-routes__district_11-san-diego__itp_id_226.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_11-san-diego/1__competitive-parallel-routes__district_11-san-diego__itp_id_278.ipynb filter=lfs diff=lfs merge=lfs -text
portfolio/parallel_corridors/district_12-irvine/0__competitive-parallel-routes__district_12-irvine__itp_id_235.ipynb filter=lfs diff=lfs merge=lfs -text
