<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Shamelessly stolen -->
    <style type="text/css">
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1, h2, h3 {
            line-height: 1.2
        }

        .header-container {
            display: flex;
            align-items: center;
        }

        .header-container img {
            margin-right: 20px;
        }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_id }}');
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container">
    <div class="header-container">
        <img src="https://raw.githubusercontent.com/cal-itp/data-analyses/refs/heads/main/portfolio/dds.png" alt="Alt text" width="200" height="100">
        <h1 class="fs-1">Data Products</h1>
    </div>
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
          <span class="fs-6">The California Department of Transportation (Caltrans)’s Division of Data and Digital Services (DDS) is a group of data analysts and scientists who analyze transportation data, such as General Transit Feed Specification (GTFS) data, or data from funding programs such as the Active Transportation Program. Our goal is to transform messy and indecipherable original datasets into usable, customer-friendly products to better the transportation landscape. </span>
        </a>
      </header>
      <main>
        <h2>Portfolio</h2>
        <p>Certain analytical projects are accessible on individual sites. Source code can be found <a href="https://github.com/cal-itp/data-analyses/">on GitHub.</a></p>
        {% for site in sites -%}
        <p><a href="/{{ site.name }}/">{{ site.title }}</a></p>
        {% endfor %}
        <p><p>
        <h2>Reports</h2>
<p>Accurate and timely GTFS data is a critical part of a providing a good transit experience. Our reports measure the quality of the GTFS data produced by an individual transit operator each month.</p>
<a rel="noreferrer" target="_blank" href="https://reports.calitp.org/">reports.calitp.org</a>
        <p><p>
          <h2>Open Data Portal</h2>
          
      
    </main>

    <footer class="pt-5 my-5 text-body-secondary border-top">
        <img src="https://raw.githubusercontent.com/cal-itp/data-analyses/main/portfolio/Calitp_logo_MAIN.png" alt="Alt text" width="100" height="50"> <img src="https://raw.githubusercontent.com/cal-itp/data-analyses/main/portfolio/CT_logo_Wht_outline.gif" alt="Alt text" width="65" height="50">Caltrans®, the California Department of Transportation® and the Caltrans logo are registered service marks of the California Department of Transportation and may not be copied, distributed, displayed, reproduced or transmitted in any form without prior written permission from the California Department of Transportation.
    </footer>