<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCX3Z8JZJC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JCX3Z8JZJC');
    </script>
    <meta charset="UTF-8">
    <title>Cal-ITP Data Analyses Portfolio</title>
</head>
<body>
{% for analysis in analyses -%}
<p><a href="/{{ analysis.name }}/">{{ analysis.title }}</a></p>
{% endfor %}
</body>
</html>
