-e .
altair==6.0.0
altair-transform==0.2.0
great_tables==0.20.0
gt_extras==0.0.8
itables==2.7.0
loguru (>=0.6.0, <0.7)
mapclassify (>=2.8.0,<3)
movingpandas==0.22.4
numba (>=0.62.1, <0.63.0)
omegaconf==2.3.0 # better yaml configuration
polars==1.22.0
quarto==0.1.0
quarto-cli==1.6.40
stonesoup==1.8
vegafusion==2.0.3
vl-convert-python>=1.6.0
xmltodict (>=0.13.0,<0.14)
