-e .
altair-transform==0.2.0
great_tables==0.16.1
numba (>=0.62.1, <0.63.0)
omegaconf==2.3.0 # better yaml configuration
polars==1.22.0
quarto==0.1.0
quarto-cli==1.6.40
vegafusion==2.0.2
vl-convert-python>=1.6.0
movingpandas==0.22.4
stonesoup==1.8
