interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType": {"type":
      "INT64"}, "parameterValue": {"value": "2"}, "name": "lpad_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "0"}, "name": "lpad_2"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": " - "}, "name": "concat_1"},
      {"parameterType": {"type": "STRING"}, "parameterValue": {"value": "US/Pacific"},
      "name": "datetime_1"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": "2025-06-17"}, "name": "datetime_2"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "US/Pacific"}, "name": "datetime_3"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2025-06-17"}, "name": "datetime_4"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `bridge_organizations_x_headquarters_county_geography`.`organization_name`,
      concat(lpad(CAST(`dim_county_geography`.`caltrans_district` AS STRING), @`lpad_1`,
      @`lpad_2`), @`concat_1`, `dim_county_geography`.`caltrans_district_name`) AS
      `caltrans_district`, `dim_county_geography`.`caltrans_district` AS `caltrans_district_1`,
      `bridge_organizations_x_headquarters_county_geography`.`county_geography_name`,
      `dim_county_geography`.`msa`, `dim_county_geography`.`fips` \nFROM `bridge_organizations_x_headquarters_county_geography`
      JOIN `dim_county_geography` ON `dim_county_geography`.`key` = `bridge_organizations_x_headquarters_county_geography`.`county_geography_key`
      \nWHERE datetime(`bridge_organizations_x_headquarters_county_geography`.`_valid_from`,
      @`datetime_1`) <= datetime(@`datetime_2`) AND datetime(`bridge_organizations_x_headquarters_county_geography`.`_valid_to`,
      @`datetime_3`) >= datetime(@`datetime_4`)", "maxResults": 5000, "requestId":
      "12ce61d3-76d2-4f87-b74a-ad3290ebb1e9"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"organization_name","type":"STRING","mode":"NULLABLE"},{"name":"caltrans_district","type":"STRING","mode":"NULLABLE"},{"name":"caltrans_district_1","type":"INTEGER","mode":"NULLABLE"},{"name":"county_geography_name","type":"STRING","mode":"NULLABLE"},{"name":"msa","type":"STRING","mode":"NULLABLE"},{"name":"fips","type":"INTEGER","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_RXrknnhkzPDbVcV6eFboEiJkIq5V","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"City
        of Rosemead"},{"v":"07 - Los Angeles / Ventura"},{"v":"7"},{"v":"Los Angeles"},{"v":"Los
        Angeles-Long Beach-Anaheim"},{"v":"6037"}]},{"f":[{"v":"Via / Remix Inc."},{"v":"07
        - Los Angeles / Ventura"},{"v":"7"},{"v":"Los Angeles"},{"v":"Los Angeles-Long
        Beach-Anaheim"},{"v":"6037"}]}],"totalBytesProcessed":"359","jobComplete":true,"cacheHit":false,"queryId":"job_RXrknnhkzPDbVcV6eFboEiJkIq5V","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"20971520","totalSlotMs":"22","location":"us-west2","creationTime":"1762219919256","startTime":"1762219919358","endTime":"1762219919489"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
