interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "defaultDataset": {"projectId": "cal-itp-data-infra-staging",
      "datasetId": "test_shared_utils"}, "queryParameters": [{"parameterType": {"type":
      "STRING"}, "parameterValue": {"value": "US/Pacific"}, "name": "datetime_1"},
      {"parameterType": {"type": "STRING"}, "parameterValue": {"value": "2025-10-12"},
      "name": "datetime_2"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": "US/Pacific"}, "name": "datetime_3"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-10-12"}, "name": "datetime_4"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT DISTINCT `dim_provider_gtfs_data`.`key`,
      `dim_provider_gtfs_data`.`public_customer_facing_fixed_route`, `dim_provider_gtfs_data`.`public_customer_facing_or_regional_subfeed_fixed_route`,
      `dim_provider_gtfs_data`.`organization_key`, `dim_provider_gtfs_data`.`organization_name`,
      `dim_provider_gtfs_data`.`organization_itp_id`, `dim_provider_gtfs_data`.`organization_hubspot_company_record_id`,
      `dim_provider_gtfs_data`.`organization_ntd_id`, `dim_provider_gtfs_data`.`[...]
