interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20name,source_record_id%20AS%20organization_source_record_id%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_organizations%20WHERE%20_is_current%20=%20true%20AND%20name%20IN%20UNNEST(%25(name_values)s)?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        name,source_record_id AS organization_source_record_id FROM cal-itp-data-infra-staging;
        Project id: SELECT name,source_record_id AS organization_source_record_id
        FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name
        projects/SELECT name,source_record_id AS organization_source_record_id FROM
        cal-itp-data-infra-staging; Project id: SELECT name,source_record_id AS organization_source_record_id
        FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "City of Mission Viejo"}, {"value": "City of Patterson"}]}, "name":
      "name_values"}], "parameterMode": "NAMED", "useLegacySql": false, "formatOptions":
      {"useInt64Timestamp": true}, "location": "us-west2", "query": "SELECT name,source_record_id
      AS organization_source_record_id FROM cal-itp-data-infra-staging.test_shared_utils.dim_organizations
      WHERE _is_current = true AND name IN UNNEST(@`name_values`)", "maxResults":
      5000, "requestId": "2ea4e75b-6a24-4322-81b5-fe03fb28eebb"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"name","type":"STRING","mode":"NULLABLE"},{"name":"organization_source_record_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_2FL6ibo5j2Ld344ERR6QPSqn42p4","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"City
        of Mission Viejo"},{"v":"reckGS8egMZryjbX7"}]},{"f":[{"v":"City of Patterson"},{"v":"recyqZ1zbZMkeA7Vf"}]}],"totalBytesProcessed":"272","jobComplete":true,"cacheHit":false,"queryId":"job_2FL6ibo5j2Ld344ERR6QPSqn42p4","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"22","location":"us-west2","creationTime":"1761943174065","startTime":"1761943174129","endTime":"1761943174265"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
