interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "defaultDataset": {"projectId": "cal-itp-data-infra-staging",
      "datasetId": "test_shared_utils"}, "queryParameters": [], "useLegacySql": false,
      "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2", "query":
      "SELECT `dim_organizations`.`key`, `dim_organizations`.`name`, `dim_organizations`.`organization_type`
      \nFROM `dim_organizations` \nWHERE `dim_organizations`.`_is_current` = true",
      "maxResults": 5000, "requestId": "8a36dcec-7885-458c-9d74-694ae378ae54"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"},{"name":"organization_type","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job__yhodyOpJAjm7sfj52CyteNx3vCz","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"35448956533b3ff4f8c9cf4e7886c974"},{"v":"City
        of Mission Viejo"},{"v":"City/Town"}]},{"f":[{"v":"02a0e06b1ddb80e5695fc82fcc0c3ccc"},{"v":"City
        of Patterson"},{"v":"City/Town"}]},{"f":[{"v":"4cb90bb76f9cd9472a2df6dd9014b4fa"},{"v":"City
        of Chula Vista"},{"v":"City/Town"}]}],"totalBytesProcessed":"201","jobComplete":true,"cacheHit":false,"queryId":"job__yhodyOpJAjm7sfj52CyteNx3vCz","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"16","location":"us-west2","creationTime":"1762221452731","startTime":"1762221452806","endTime":"1762221452921"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
