interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20key,name,organization_type%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_organizations%20WHERE%20_is_current%20=%20true?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        key,name,organization_type FROM cal-itp-data-infra-staging; Project id: SELECT
        key,name,organization_type FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid
        resource name projects/SELECT key,name,organization_type FROM cal-itp-data-infra-staging;
        Project id: SELECT key,name,organization_type FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT key,name,organization_type FROM cal-itp-data-infra-staging.test_shared_utils.dim_organizations
      WHERE _is_current = true", "maxResults": 5000, "requestId": "88df987d-003b-48f3-ac6c-5c6cf621aa6c"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"},{"name":"organization_type","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_Y_3jttHfxwl1ibRDbn80MBehaNad","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"35448956533b3ff4f8c9cf4e7886c974"},{"v":"City
        of Mission Viejo"},{"v":"City/Town"}]},{"f":[{"v":"02a0e06b1ddb80e5695fc82fcc0c3ccc"},{"v":"City
        of Patterson"},{"v":"City/Town"}]},{"f":[{"v":"4cb90bb76f9cd9472a2df6dd9014b4fa"},{"v":"City
        of Chula Vista"},{"v":"City/Town"}]}],"totalBytesProcessed":"270","jobComplete":true,"cacheHit":false,"queryId":"job_Y_3jttHfxwl1ibRDbn80MBehaNad","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"20","location":"us-west2","creationTime":"1761777934983","startTime":"1761777935236","endTime":"1761777935371"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
