interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20source_record_id%20AS%20organization_source_record_id%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_organizations%20WHERE%20_is_current%20=%20true?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        source_record_id AS organization_source_record_id FROM cal-itp-data-infra-staging;
        Project id: SELECT source_record_id AS organization_source_record_id FROM
        cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name projects/SELECT
        source_record_id AS organization_source_record_id FROM cal-itp-data-infra-staging;
        Project id: SELECT source_record_id AS organization_source_record_id FROM
        cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT source_record_id AS organization_source_record_id FROM cal-itp-data-infra-staging.test_shared_utils.dim_organizations
      WHERE _is_current = true", "maxResults": 5000, "requestId": "4a09c2b2-7eaa-4e1a-8be1-9af72e489683"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"organization_source_record_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_-HGFXaLlE0Zi_w9ZoDGF5c2eQumk","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"reckGS8egMZryjbX7"}]},{"f":[{"v":"recyqZ1zbZMkeA7Vf"}]},{"f":[{"v":"recOT4QO6t6mRhUEu"}]}],"totalBytesProcessed":"80","jobComplete":true,"cacheHit":false,"queryId":"job_-HGFXaLlE0Zi_w9ZoDGF5c2eQumk","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"28","location":"us-west2","creationTime":"1761777933940","startTime":"1761777934027","endTime":"1761777934175"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
