interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT gtfs_dataset_key, feed_key FROM cal-itp-data-infra-staging.test_shared_utils.fct_daily_feed_scheduled_service_summary
      WHERE service_date = ''2025-09-01''", "maxResults": 5000, "requestId": "82d8a956-b5a1-456b-9e3a-38b332ecd91c"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_6l08_NbzcdbDyLP3oIueh6CiQUGw","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"0089bd1b0a2b78a8590d8749737d7146"},{"v":"10f6bb537140b7e52c8f313f3d611f71"}]}],"totalBytesProcessed":"228","jobComplete":true,"cacheHit":false,"queryId":"job_6l08_NbzcdbDyLP3oIueh6CiQUGw","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"31","location":"us-west2","creationTime":"1761943164443","startTime":"1761943164544","endTime":"1761943164686"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
