interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20key%20AS%20gtfs_dataset_key,name%20AS%20gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_gtfs_datasets%20WHERE%20data_quality_pipeline%20=%20true%20AND%20type%20IN%20UNNEST(%25(type_values)s)?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri
        FROM cal-itp-data-infra-staging; Project id: SELECT key AS gtfs_dataset_key,name
        AS gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri
        FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name
        projects/SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri
        FROM cal-itp-data-infra-staging; Project id: SELECT key AS gtfs_dataset_key,name
        AS gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri
        FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_values"}], "parameterMode": "NAMED",
      "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true}, "location":
      "us-west2", "query": "SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,source_record_id,regional_feed_type,base64_url,uri
      FROM cal-itp-data-infra-staging.test_shared_utils.dim_gtfs_datasets WHERE data_quality_pipeline
      = true AND type IN UNNEST(@`type_values`)", "maxResults": 5000, "requestId":
      "d170fb46-a42e-4353-bc68-a61d64f4986c"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"source_record_id","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"base64_url","type":"STRING","mode":"NULLABLE"},{"name":"uri","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_Beft24UHHHFnta1FN3Jmbh-5ZLU7","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"c51dbfdd47838f86074c4ef3179cc9ed"},{"v":"Santa
        Ynez Mecatran Schedule"},{"v":"schedule"},{"v":"recuWhPXfxMatv6rL"},{"v":null},{"v":"aHR0cDovL2FwcC5tZWNhdHJhbi5jb20vdXJiL3dzL2ZlZWQvYzJsMFpUMXplWFowTzJOc2FXVnVkRDF6Wld4bU8yVjRjR2x5WlQwN2RIbHdaVDFuZEdaek8ydGxlVDAwTWpjd056UTBaVFk0TlRBek9UTXlNREl4TURkak56STBNRFJrTXpZeU5UTTRNekkwWXpJMA=="},{"v":"http://app.mecatran.com/urb/ws/feed/c2l0ZT1zeXZ0O2NsaWVudD1zZWxmO2V4cGlyZT07dHlwZT1ndGZzO2tleT00MjcwNzQ0ZTY4NTAzOTMyMDIxMDdjNzI0MDRkMzYyNTM4MzI0YzI0"}]},{"f":[{"v":"372a06b593e1716d1c911b1d1d35bedd"},{"v":"Santa
        Ynez Mecatran Schedule"},{"v":"schedule"},{"v":"recuWhPXfxMatv6rL"},{"v":null},{"v":"aHR0cDovL2FwcC5tZWNhdHJhbi5jb20vdXJiL3dzL2ZlZWQvYzJsMFpUMXplWFowTzJOc2FXVnVkRDF6Wld4bU8yVjRjR2x5WlQwN2RIbHdaVDFuZEdaek8ydGxlVDAwTWpjd056UTBaVFk0TlRBek9UTXlNREl4TURkak56STBNRFJrTXpZeU5UTTRNekkwWXpJMA=="},{"v":"http://app.mecatran.com/urb/ws/feed/c2l0ZT1zeXZ0O2NsaWVudD1zZWxmO2V4cGlyZT07dHlwZT1ndGZzO2tleT00MjcwNzQ0ZTY4NTAzOTMyMDIxMDdjNzI0MDRkMzYyNTM4MzI0YzI0"}]}],"totalBytesProcessed":"1100","jobComplete":true,"cacheHit":false,"queryId":"job_Beft24UHHHFnta1FN3Jmbh-5ZLU7","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"17","location":"us-west2","creationTime":"1761942933320","startTime":"1761942933440","endTime":"1761942933579"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20source_record_id%20AS%20organization_source_record_id,name%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_organizations%20WHERE%20_is_current%20=%20true?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        source_record_id AS organization_source_record_id,name FROM cal-itp-data-infra-staging;
        Project id: SELECT source_record_id AS organization_source_record_id,name
        FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name
        projects/SELECT source_record_id AS organization_source_record_id,name FROM
        cal-itp-data-infra-staging; Project id: SELECT source_record_id AS organization_source_record_id,name
        FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
[...]
