interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql": false,
      "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2", "query":
      "SELECT `dim_organizations`.`source_record_id` AS `organization_source_record_id`
      \nFROM `dim_organizations` \nWHERE `dim_organizations`.`_is_current` = true",
      "maxResults": 5000, "requestId": "fdea5969-f3fd-4e48-a6c2-efc4ae7141a3"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"organization_source_record_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_RI7jjD6r5zHgRoMbU9az15QDP9Aw","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"reckGS8egMZryjbX7"}]},{"f":[{"v":"recyqZ1zbZMkeA7Vf"}]},{"f":[{"v":"recOT4QO6t6mRhUEu"}]}],"totalBytesProcessed":"60","jobComplete":true,"cacheHit":false,"queryId":"job_RI7jjD6r5zHgRoMbU9az15QDP9Aw","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"19","location":"us-west2","creationTime":"1762221451925","startTime":"1762221451976","endTime":"1762221452093"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
