interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/%0A%20%20%20%20%20%20%20%20SELECT%20key%20AS%20gtfs_dataset_key,name%20AS%20gtfs_dataset_name%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_gtfs_datasets%0A%20%20%20%20%20%20%20%20WHERE%20data_quality_pipeline%20=%20true%0A%20%20%20%20?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/\n        SELECT
        key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM cal-itp-data-infra-staging;
        Project id: \n        SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name
        FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name
        projects/\n        SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name
        FROM cal-itp-data-infra-staging; Project id: \n        SELECT key AS gtfs_dataset_key,name
        AS gtfs_dataset_name FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "\n        SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name
      FROM cal-itp-data-infra-staging.test_shared_utils.dim_gtfs_datasets\n        WHERE
      data_quality_pipeline = true\n    ", "maxResults": 5000, "requestId": "4feeec0b-0821-4ce7-b8c0-eb316f3916c0"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_NznQimN2F690hUJ47uKkISJgFBoG","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"c51dbfdd47838f86074c4ef3179cc9ed"},{"v":"Santa
        Ynez Mecatran Schedule"}]},{"f":[{"v":"372a06b593e1716d1c911b1d1d35bedd"},{"v":"Santa
        Ynez Mecatran Schedule"}]},{"f":[{"v":"8aed0709366badf9342e03d0a2d72b8d"},{"v":"SLO
        Trip Updates"}]}],"totalBytesProcessed":"183","jobComplete":true,"cacheHit":false,"queryId":"job_NznQimN2F690hUJ47uKkISJgFBoG","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"15","location":"us-west2","creationTime":"1761691896708","startTime":"1761691896766","endTime":"1761691896908"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
