interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/SELECT%20key%20AS%20gtfs_dataset_key,name%20AS%20gtfs_dataset_name%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_gtfs_datasets%20WHERE%20data_quality_pipeline%20=%20true?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/SELECT
        key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM cal-itp-data-infra-staging;
        Project id: SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM
        cal-itp-data-infra-staging","errors":[{"message":"Invalid resource name projects/SELECT
        key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM cal-itp-data-infra-staging;
        Project id: SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM
        cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name FROM cal-itp-data-infra-staging.test_shared_utils.dim_gtfs_datasets
      WHERE data_quality_pipeline = true", "maxResults": 5000, "requestId": "5b4c09c9-a3fc-4a91-be1a-64d8a7057b72"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_gqPyxpvQLZlJTHG0tRovhyx0joxa","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"c51dbfdd47838f86074c4ef3179cc9ed"},{"v":"Santa
        Ynez Mecatran Schedule"}]},{"f":[{"v":"372a06b593e1716d1c911b1d1d35bedd"},{"v":"Santa
        Ynez Mecatran Schedule"}]},{"f":[{"v":"8aed0709366badf9342e03d0a2d72b8d"},{"v":"SLO
        Trip Updates"}]}],"totalBytesProcessed":"183","jobComplete":true,"cacheHit":false,"queryId":"job_gqPyxpvQLZlJTHG0tRovhyx0joxa","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"9","location":"us-west2","creationTime":"1761943166698","startTime":"1761943166788","endTime":"1761943166935"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
