interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT bohcg.organization_name, CONCAT(LPAD(CAST(dmg.caltrans_district
      AS STRING), 2, ''0''), '' - '', dmg.caltrans_district_name) AS caltrans_district,  FROM
      cal-itp-data-infra-staging.test_shared_utils.bridge_organizations_x_headquarters_county_geography
      AS bohcg INNER JOIN cal-itp-data-infra-staging.test_shared_utils.dim_county_geography
      AS dmg ON dmg.key = bohcg.county_geography_key WHERE DATETIME(bohcg._valid_from,
      ''US/Pacific'') <= DATETIME(''2025-06-17'') AND DATETIME(bohcg._valid_to, ''US/Pacific'')
      >= DATETIME(''2025-06-17'')", "maxResults": 5000, "requestId": "6a100dcf-dd61-4131-9339-22d54199a6f5"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"organization_name","type":"STRING","mode":"NULLABLE"},{"name":"caltrans_district","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_AuxKbFYiR0vWffvH6GHVu2SIKoor","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"City
        of Rosemead"},{"v":"07 - Los Angeles / Ventura"}]},{"f":[{"v":"Via / Remix
        Inc."},{"v":"07 - Los Angeles / Ventura"}]}],"totalBytesProcessed":"285","jobComplete":true,"cacheHit":false,"queryId":"job_AuxKbFYiR0vWffvH6GHVu2SIKoor","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"20971520","totalSlotMs":"17","location":"us-west2","creationTime":"1761764432067","startTime":"1761764432186","endTime":"1761764432342"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
