interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType": {"type":
      "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "City of Mission Viejo"}, {"value": "City of Patterson"}]}, "name":
      "name_1"}], "parameterMode": "NAMED", "useLegacySql": false, "formatOptions":
      {"useInt64Timestamp": true}, "location": "us-west2", "query": "SELECT `dim_organizations`.`name`,
      `dim_organizations`.`source_record_id` AS `organization_source_record_id` \nFROM
      `dim_organizations` \nWHERE `dim_organizations`.`_is_current` = true AND `dim_organizations`.`name`
      IN UNNEST(@`name_1`)", "maxResults": 5000, "requestId": "5297ac44-0c46-4450-8162-c285ea4c4947"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"name","type":"STRING","mode":"NULLABLE"},{"name":"organization_source_record_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_zx3xRarRZLSXItczfig2bXvKAmlZ","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"City
        of Mission Viejo"},{"v":"reckGS8egMZryjbX7"}]},{"f":[{"v":"City of Patterson"},{"v":"recyqZ1zbZMkeA7Vf"}]}],"totalBytesProcessed":"123","jobComplete":true,"cacheHit":false,"queryId":"job_zx3xRarRZLSXItczfig2bXvKAmlZ","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"19","location":"us-west2","creationTime":"1762221453625","startTime":"1762221453683","endTime":"1762221453824"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
