interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType": {"type":
      "INT64"}, "parameterValue": {"value": "2"}, "name": "lpad_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "0"}, "name": "lpad_2"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": " - "}, "name": "concat_1"},
      {"parameterType": {"type": "STRING"}, "parameterValue": {"value": "US/Pacific"},
      "name": "datetime_1"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": "2024-01-17"}, "name": "datetime_2"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "US/Pacific"}, "name": "datetime_3"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2024-01-17"}, "name": "datetime_4"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `test_shared_utils.bridge_organizations_x_headquarters_county_geography`.`organization_name`,
      concat(lpad(CAST(`test_shared_utils.dim_county_geography`.`caltrans_district` AS STRING), @`lpad_1`,
      @`lpad_2`), @`concat_1`, `test_shared_utils.dim_county_geography`.`caltrans_district_name`) AS
      `caltrans_district` \nFROM `test_shared_utils.bridge_organizations_x_headquarters_county_geography`
      JOIN `test_shared_utils.dim_county_geography` ON `test_shared_utils.dim_county_geography`.`key` = `test_shared_utils.bridge_organizations_x_headquarters_county_geography`.`county_geography_key`
      \nWHERE datetime(`test_shared_utils.bridge_organizations_x_headquarters_county_geography`.`_valid_from`,
      @`datetime_1`) <= datetime(@`datetime_2`) AND datetime(`test_shared_utils.bridge_organizations_x_headquarters_county_geography`.`_valid_to`,
      @`datetime_3`) >= datetime(@`datetime_4`)", "maxResults": 5000, "requestId":
      "c99f0f70-db22-48a0-a352-b16913cb5e2e"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"organization_name","type":"STRING","mode":"NULLABLE"},{"name":"caltrans_district","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_7LiSDgWwoHfoPVnJwfr5Zs3h0JCY","location":"us-west2"},"totalRows":"0","totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_7LiSDgWwoHfoPVnJwfr5Zs3h0JCY","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1762219678648","startTime":"1762219678725","endTime":"1762219678791"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
