interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "defaultDataset": {"projectId": "cal-itp-data-infra-staging",
      "datasetId": "test_shared_utils"}, "queryParameters": [{"parameterType": {"type":
      "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "trip_updates"}]}, "name": "type_1"}], "parameterMode": "NAMED",
      "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true}, "location":
      "us-west2", "query": "SELECT `dim_gtfs_datasets`.`key` AS `gtfs_dataset_key`,
      `dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`, `dim_gtfs_datasets`.`type`,
      `dim_gtfs_datasets`.`regional_feed_type`, `dim_gtfs_datasets`.`uri`, `dim_gtfs_datasets`.`base64_url`
      \nFROM `dim_gtfs_datasets` \nWHERE `dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`)", "maxResults": 5000,
      "requestId": "b0b5231e-bc39-4250-93e3-f5ae201111d0"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"uri","type":"STRING","mode":"NULLABLE"},{"name":"base64_url","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_ebnHMg1M4OyzE1wkL7gl0T91nGWH","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"8aed0709366badf9342e03d0a2d72b8d"},{"v":"SLO
        Trip Updates"},{"v":"trip_updates"},{"v":null},{"v":"http://data.peaktransit.com/gtfsrt/1/TripUpdate.pb"},{"v":"aHR0cDovL2RhdGEucGVha3RyYW5zaXQuY29tL2d0ZnNydC8xL1RyaXBVcGRhdGUucGI="}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_ebnHMg1M4OyzE1wkL7gl0T91nGWH","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1762208245263","startTime":"1762208245316","endTime":"1762208245373"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
