interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: GET
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/%0A%20%20%20%20%20%20%20%20SELECT%20key%20AS%20gtfs_dataset_key,name%20AS%20gtfs_dataset_name,type,regional_feed_type,uri,base64_url%20FROM%20cal-itp-data-infra-staging/datasets/test_shared_utils/tables/dim_gtfs_datasets%0A%20%20%20%20%20%20%20%20WHERE%20data_quality_pipeline%20=%20true%20AND%20type%20IN%20UNNEST(%25(type_values)s)%0A%20%20%20%20?prettyPrint=false
  response:
    body:
      string: '{"error":{"code":400,"message":"Invalid resource name projects/\n        SELECT
        key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,regional_feed_type,uri,base64_url
        FROM cal-itp-data-infra-staging; Project id: \n        SELECT key AS gtfs_dataset_key,name
        AS gtfs_dataset_name,type,regional_feed_type,uri,base64_url FROM cal-itp-data-infra-staging","errors":[{"message":"Invalid
        resource name projects/\n        SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,regional_feed_type,uri,base64_url
        FROM cal-itp-data-infra-staging; Project id: \n        SELECT key AS gtfs_dataset_key,name
        AS gtfs_dataset_name,type,regional_feed_type,uri,base64_url FROM cal-itp-data-infra-staging","domain":"global","reason":"badRequest"}],"status":"INVALID_ARGUMENT"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "trip_updates"}]}, "name": "type_values"}], "parameterMode": "NAMED",
      "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true}, "location":
      "us-west2", "query": "\n        SELECT key AS gtfs_dataset_key,name AS gtfs_dataset_name,type,regional_feed_type,uri,base64_url
      FROM cal-itp-data-infra-staging.test_shared_utils.dim_gtfs_datasets\n        WHERE
      data_quality_pipeline = true AND type IN UNNEST(@`type_values`)\n    ", "maxResults":
      5000, "requestId": "3706b169-fdc0-4991-b2e7-0bce38953c1c"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"uri","type":"STRING","mode":"NULLABLE"},{"name":"base64_url","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra","jobId":"job_86oslCh4oTO8WhHKMlHtUDebZ_7Y","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"8aed0709366badf9342e03d0a2d72b8d"},{"v":"SLO
        Trip Updates"},{"v":"trip_updates"},{"v":null},{"v":"http://data.peaktransit.com/gtfsrt/1/TripUpdate.pb"},{"v":"aHR0cDovL2RhdGEucGVha3RyYW5zaXQuY29tL2d0ZnNydC8xL1RyaXBVcGRhdGUucGI="}]}],"totalBytesProcessed":"1043","jobComplete":true,"cacheHit":false,"queryId":"job_86oslCh4oTO8WhHKMlHtUDebZ_7Y","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"22","location":"us-west2","creationTime":"1761691897621","startTime":"1761691897702","endTime":"1761691897821"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
