interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [], "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT DISTINCT * FROM cal-itp-data-infra-staging.test_shared_utils.dim_provider_gtfs_data
      WHERE DATETIME(_valid_from, ''US/Pacific'') <= DATETIME(''2025-10-12'') AND
      DATETIME(_valid_to, ''US/Pacific'') >= DATETIME(''2025-10-12'')", "maxResults":
      5000, "requestId": "2c887e7b-ac9c-4dc6-be4e-4b885aa66192"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"public_customer_facing_fixed_route","type":"BOOLEAN","mode":"NULLABLE"},{"name":"public_customer_facing_or_regional_subfeed_fixed_route","type":"BOOLEAN","mode":"NULLABLE"},{"name":"organization_key","type":"STRING","mode":"NULLABLE"},{"name":"organization_name","type":"STRING","mode":"NULLABLE"},{"name":"organization_itp_id","type":"INTEGER","mode":"NULLABLE"},{"name":"organization_hubspot_company_record_id","type":"STRING","mode":"NULLABLE"},{"name":"organization_ntd_id","[...]
