shared_utils @ git+https://github.com/cal-itp/data-analyses.git@24478949100fd1a389f0b6605bc9b2a371f76193#subdirectory=_shared_utils
segment_speed_utils @ git+https://github.com/cal-itp/data-analyses.git@24478949100fd1a389f0b6605bc9b2a371f76193#subdirectory=rt_segment_speeds
gtfs-lite==0.2.1
# copied from shared_utils, since it doesn't properly specify dependencies
altair-transform==0.2.0
great_tables==0.16.1
omegaconf==2.3.0 # better yaml configuration
polars==1.22.0
quarto-cli==1.6.40
quarto==0.1.0
