interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "defaultDataset": {"projectId": "cal-itp-data-infra-staging",
      "datasetId": "test_shared_utils"}, "queryParameters": [{"parameterType": {"type":
      "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "Regional Precursor Feed"},
      "name": "regional_feed_type_1"}], "parameterMode": "NAMED", "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT `dim_gtfs_datasets`.`key` AS `gtfs_dataset_key`, `dim_gtfs_datasets`.`name`
      AS `gtfs_dataset_name`, `dim_gtfs_datasets`.`type`, `dim_gtfs_datasets`.`regional_feed_type`,
      `fct_daily_schedule_feeds`.`gtfs_dataset_name` AS `name` \nFROM `dim_gtfs_datasets`
      JOIN `fct_daily_schedule_feeds` ON `fct_daily_schedule_feeds`.`gtfs_dataset_key`
      = `dim_gtfs_datasets`.`key` AND `fct_daily_schedule_feeds`.`gtfs_dataset_name`
      = `dim_gtfs_datasets`.`name` \nWHERE `dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`) AND `fct_daily_schedule_feeds`.`date`
      = @`date_1` AND `dim_gtfs_datasets`.`regional_feed_type` != @`regional_feed_type_1`",
      "maxResults": 5000, "requestId": "0b046396-a98b-4ff7-8511-c2acf2a5e76d"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_r_ojzuWBfkCcX5ki0WDhrAbh7Dx4","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"d6ed100168196d507b4ef1c0d111ee72"},{"v":"Bay
        Area 511 Regional Schedule"},{"v":"schedule"},{"v":"Combined Regional Feed"},{"v":"Bay
        Area 511 Regional Schedule"}]},{"f":[{"v":"9f2566d34fde8d7d0d51b64bdf77a7ba"},{"v":"Bay
        Area 511 ACE Schedule"},{"v":"schedule"},{"v":"Regional Subfeed"},{"v":"Bay
        Area 511 ACE Schedule"}]}],"totalBytesProcessed":"1141","jobComplete":true,"cacheHit":false,"queryId":"job_r_ojzuWBfkCcX5ki0WDhrAbh7Dx4","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"20971520","totalSlotMs":"15","location":"us-west2","creationTime":"1763424335329","startTime":"1763424335388","endTime":"1763424335505"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
