interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2024-07-05"}, "name": "service_date_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "0007cf02f9eee5014e8dbab1bac07f5b"}]}, "name": "feed_key_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "20501"}]}, "name": "stop_id_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.fct_daily_scheduled_stops`.`key`,
      `test_shared_utils.fct_daily_scheduled_stops`.`service_date`, `test_shared_utils.fct_daily_scheduled_stops`.`feed_key`,
      `test_shared_utils.fct_daily_scheduled_stops`.`stop_id`, `test_shared_utils.fct_daily_scheduled_stops`.`feed_timezone`,
      `test_shared_utils.fct_daily_scheduled_stops`.`daily_arrivals`, `test_shared_utils.fct_daily_scheduled_stops`.`first_stop_arrival_datetime_pacific`,
      `test_shared_utils.fct_da[...]
