interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "defaultDataset": {"projectId": "cal-itp-data-infra-staging",
      "datasetId": "test_shared_utils"}, "queryParameters": [{"parameterType": {"type":
      "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `dim_gtfs_datasets`.`key` AS `gtfs_dataset_key`,
      `dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`, `dim_gtfs_datasets`.`type`,
      `dim_gtfs_datasets`.`regional_feed_type`, `fct_daily_schedule_feeds`.`gtfs_dataset_name`
      AS `name` \nFROM `dim_gtfs_datasets` JOIN `fct_daily_schedule_feeds` ON `fct_daily_schedule_feeds`.`gtfs_dataset_key`
      = `dim_gtfs_datasets`.`key` AND `fct_daily_schedule_feeds`.`gtfs_dataset_name`
      = `dim_gtfs_datasets`.`name` \nWHERE `dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`) AND `fct_daily_schedule_feeds`.`date`
      = @`date_1`", "maxResults": 5000, "requestId": "60e212d0-bc83-4165-b70e-86df7c2d0601"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_9pKH43YGk6H8-GBQzk5dG8bhWlEn","location":"us-west2"},"totalRows":"4","rows":[{"f":[{"v":"1165b1474df778cb0fc3ba9246e32035"},{"v":"Amtrak
        Schedule"},{"v":"schedule"},{"v":null},{"v":"Amtrak Schedule"}]},{"f":[{"v":"d6ed100168196d507b4ef1c0d111ee72"},{"v":"Bay
        Area 511 Regional Schedule"},{"v":"schedule"},{"v":"Combined Regional Feed"},{"v":"Bay
        Area 511 Regional Schedule"}]},{"f":[{"v":"2f506f822a5f9b2afa48bda762a5e81d"},{"v":"AC
        Transit Schedule"},{"v":"schedule"},{"v":"Regional Precursor Feed"},{"v":"AC
        Transit Schedule"}]},{"f":[{"v":"9f2566d34fde8d7d0d51b64bdf77a7ba"},{"v":"Bay
        Area 511 ACE Schedule"},{"v":"schedule"},{"v":"Regional Subfeed"},{"v":"Bay
        Area 511 ACE Schedule"}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_9pKH43YGk6H8-GBQzk5dG8bhWlEn","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1763424557339","startTime":"1763424557407","endTime":"1763424557476"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
