interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "Regional Precursor Feed"},
      "name": "regional_feed_type_1"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": "Regional Subfeed"}, "name": "regional_feed_type_2"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.dim_gtfs_datasets`.`key`
      AS `gtfs_dataset_key`, `test_shared_utils.dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`,
      `test_shared_utils.dim_gtfs_datasets`.`type`, `test_shared_utils.dim_gtfs_datasets`.`regional_feed_type`,
      `test_shared_utils.fct_daily_schedule_feeds`.`key`, `test_shared_utils.fct_daily_schedule_feeds`.`date`,
      `test_shared_utils.fct_daily_schedule_feeds`.`feed_key`, `test_shared_utils.fct_daily_schedule_feeds`.`feed_timezone`,
      `test_shared_utils.fct_daily_schedule_feeds`.`base64_url`, `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name`
      AS `name` \nFROM `test_shared_utils.dim_gtfs_datasets` JOIN `test_shared_utils.fct_daily_schedule_feeds`
      ON `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key` = `test_shared_utils.dim_gtfs_datasets`.`key`
      AND `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name` = `test_shared_utils.dim_gtfs_datasets`.`name`
      \nWHERE `test_shared_utils.dim_gtfs_datasets`.`data_quality_pipeline` = true
      AND `test_shared_utils.dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`) AND `test_shared_utils.fct_daily_schedule_feeds`.`date`
      = @`date_1` AND `test_shared_utils.dim_gtfs_datasets`.`regional_feed_type` !=
      @`regional_feed_type_1` AND `test_shared_utils.dim_gtfs_datasets`.`regional_feed_type`
      != @`regional_feed_type_2`", "maxResults": 5000, "requestId": "af56dbb7-6104-467f-b1dc-87c1ed6627e9"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"date","type":"DATETIME","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"},{"name":"feed_timezone","type":"STRING","mode":"NULLABLE"},{"name":"base64_url","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_CSfzqjMluZUF-M0-vI2WyqjIHIwj","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"d6ed100168196d507b4ef1c0d111ee72"},{"v":"Bay
        Area 511 Regional Schedule"},{"v":"schedule"},{"v":"Combined Regional Feed"},{"v":"361663508967ce62a3557993829f8bf8"},{"v":"2025-09-01T00:00:00"},{"v":"c86f88ad0b15f5185d073f91f2130285"},{"v":"America/Los_Angeles"},{"v":"aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L2RhdGFmZWVkcz9vcGVyYXRvcl9pZD1SRw=="},{"v":"Bay
        Area 511 Regional Schedule"}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_CSfzqjMluZUF-M0-vI2WyqjIHIwj","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1763603618580","startTime":"1763603618643","endTime":"1763603618729"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
