interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2025-11-02"}, "name": "service_date_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "de3b4f439f8542021168b5ca6f64cc9c"}]}, "name": "feed_key_1"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `test_shared_utils.fct_daily_scheduled_stops`.`pt_geom`,
      `test_shared_utils.fct_daily_scheduled_stops`.`key`, `test_shared_utils.fct_daily_scheduled_stops`.`stop_id`
      \nFROM `test_shared_utils.fct_daily_scheduled_stops` \nWHERE `test_shared_utils.fct_daily_scheduled_stops`.`service_date`
      = @`service_date_1` AND `test_shared_utils.fct_daily_scheduled_stops`.`feed_key`
      IN UNNEST(@`feed_key_1`)", "maxResults": 5000, "requestId": "2feae674-b097-4225-913c-7dd75adc4c84"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"pt_geom","type":"GEOGRAPHY","mode":"NULLABLE"},{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"stop_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_F1LnRmY-LhBk1KHDIRaodv9sZEsC","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"POINT(-118.168867
        33.892687)"},{"v":"32f3ba416f67b9c5e0e08ca63d611acb"},{"v":"0117"}]},{"f":[{"v":"POINT(-118.168892
        33.896207)"},{"v":"6f8f617b300e48402c060c94a5e507c7"},{"v":"0119"}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_F1LnRmY-LhBk1KHDIRaodv9sZEsC","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1764964845338","startTime":"1764964845428","endTime":"1764964845510"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
