interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2024-07-05"}, "name": "service_date_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "0007cf02f9eee5014e8dbab1bac07f5b"}]}, "name": "feed_key_1"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `test_shared_utils.fct_daily_scheduled_stops`.`pt_geom`,
      `test_shared_utils.fct_daily_scheduled_stops`.`key`, `test_shared_utils.fct_daily_scheduled_stops`.`stop_id`
      \nFROM `test_shared_utils.fct_daily_scheduled_stops` \nWHERE `test_shared_utils.fct_daily_scheduled_stops`.`service_date`
      = @`service_date_1` AND `test_shared_utils.fct_daily_scheduled_stops`.`feed_key`
      IN UNNEST(@`feed_key_1`)", "maxResults": 5000, "requestId": "6e7c7e19-1c8c-46f6-9089-364b08063c4e"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"pt_geom","type":"GEOGRAPHY","mode":"NULLABLE"},{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"stop_id","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_h92XKz-juGcFWp7czxgEAK_72Mum","location":"us-west2"},"totalRows":"3","rows":[{"f":[{"v":"POINT(-118.25415
        36.977383)"},{"v":"36e9a190be944c957bc0d73fb291466e"},{"v":"20501"}]},{"f":[{"v":"POINT(-119.037292
        37.651402)"},{"v":"d3b1b52ff685a00becb0d486cd209cd2"},{"v":"20409"}]},{"f":[{"v":"POINT(-119.080673
        37.681149)"},{"v":"6a9b406f1e940f2f98b40cd9af8e0bdc"},{"v":"20399"}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_h92XKz-juGcFWp7czxgEAK_72Mum","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1769202887321","startTime":"1769202887403","endTime":"1769202887475"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
