interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "4321a7e3901b2275805494a746ec1c6a"}]}, "name": "feed_key_1"}, {"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "(MWF)_t_5405971_b_55349_tn_0"}]}, "name": "trip_id_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.dim_stop_times`.`arrival_sec`,
      `test_shared_utils.dim_stop_times`.`departure_sec`, `test_shared_utils.dim_stop_times`.`feed_key`
      \nFROM `test_shared_utils.dim_stop_times` \nWHERE `test_shared_utils.dim_stop_times`.`feed_key`
      IN UNNEST(@`feed_key_1`) AND `test_shared_utils.dim_stop_times`.`trip_id` IN
      UNNEST(@`trip_id_1`)", "maxResults": 5000, "requestId": "d09e51a4-2063-48ce-883a-d1d179116a04"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"arrival_sec","type":"INTEGER","mode":"NULLABLE"},{"name":"departure_sec","type":"INTEGER","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_40U9_aUuVgputI4H1l_pqVAsiZCN","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"39600"},{"v":"39600"},{"v":"4321a7e3901b2275805494a746ec1c6a"}]},{"f":[{"v":"41400"},{"v":"41400"},{"v":"4321a7e3901b2275805494a746ec1c6a"}]}],"totalBytesProcessed":"221","jobComplete":true,"cacheHit":false,"queryId":"job_40U9_aUuVgputI4H1l_pqVAsiZCN","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"34","location":"us-west2","creationTime":"1765323408815","startTime":"1765323408886","endTime":"1765323409059"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
