interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType": {"type":
      "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "Metrolink Schedule"}]}, "name": "name_1"}, {"parameterType": {"type":
      "STRING"}, "parameterValue": {"value": "2025-08-23"}, "name": "date_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `dim_gtfs_datasets`.`key` AS `gtfs_dataset_key`,
      `dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`, `fct_daily_schedule_feeds`.`feed_key`
      \nFROM `dim_gtfs_datasets` JOIN `fct_daily_schedule_feeds` ON `fct_daily_schedule_feeds`.`gtfs_dataset_key`
      = `dim_gtfs_datasets`.`key` AND `fct_daily_schedule_feeds`.`gtfs_dataset_name`
      = `dim_gtfs_datasets`.`name` \nWHERE `dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `dim_gtfs_datasets`.`name` IN UNNEST(@`name_1`) AND `fct_daily_schedule_feeds`.`date`
      = @`date_1`", "maxResults": 5000, "requestId": "b9bc5cc4-cc87-465e-a757-9ea2bf7569f9"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_64oTDsbBP6utXsqv5xlj37oboW4g","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"fe61acc86788295b399a43cb35a9e9c5"},{"v":"Metrolink
        Schedule"},{"v":"0b0ebeff0c1f7ff681e6a06d6218ecd6"}]}],"totalBytesProcessed":"526","jobComplete":true,"cacheHit":false,"queryId":"job_64oTDsbBP6utXsqv5xlj37oboW4g","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"20971520","totalSlotMs":"16","location":"us-west2","creationTime":"1763407653918","startTime":"1763407653990","endTime":"1763407654145"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
