interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": ""}, "name": "IFNULL_1"}, {"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "Regional Precursor Feed"},
      "name": "IFNULL_2"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": ""}, "name": "IFNULL_3"}, {"parameterType": {"type": "STRING"}, "parameterValue":
      {"value": "Bay Area 511 Regional Schedule"}, "name": "IFNULL_4"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.dim_gtfs_datasets`.`name`,
      `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key`, `test_shared_utils.fct_daily_schedule_feeds`.`feed_key`
      \nFROM `test_shared_utils.dim_gtfs_datasets` JOIN `test_shared_utils.fct_daily_schedule_feeds`
      ON `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key` = `test_shared_utils.dim_gtfs_datasets`.`key`
      AND `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name` = `test_shared_utils.dim_gtfs_datasets`.`name`
      \nWHERE `test_shared_utils.dim_gtfs_datasets`.`data_quality_pipeline` = true
      AND `test_shared_utils.dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`) AND `test_shared_utils.fct_daily_schedule_feeds`.`date`
      = @`date_1` AND IFNULL(`test_shared_utils.dim_gtfs_datasets`.`regional_feed_type`,
      @`IFNULL_1`) != @`IFNULL_2` AND IFNULL(`test_shared_utils.dim_gtfs_datasets`.`name`,
      @`IFNULL_3`) != @`IFNULL_4`", "maxResults": 5000, "requestId": "03b90a15-9a93-411d-b635-d5500fc32531"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"name","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_kenMsEgjfCujKMLyNrwn2kVEH0m0","location":"us-west2"},"totalRows":"2","rows":[{"f":[{"v":"Amtrak
        Schedule"},{"v":"1165b1474df778cb0fc3ba9246e32035"},{"v":"0874d9772a918edbedff0493590d626a"}]},{"f":[{"v":"Bay
        Area 511 ACE Schedule"},{"v":"9f2566d34fde8d7d0d51b64bdf77a7ba"},{"v":"3bbe132a97a1510d3e1a265875ef7590"}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_kenMsEgjfCujKMLyNrwn2kVEH0m0","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1763776732271","startTime":"1763776732334","endTime":"1763776732413"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
