interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2025-10-01"}, "name": "service_date_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "3ea60aa240ddc543da5415ccc759fd6d"}]}, "name": "feed_key_1"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `test_shared_utils.fct_daily_scheduled_shapes`.`key`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`feed_key`, `test_shared_utils.fct_daily_scheduled_shapes`.`service_date`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`shape_id`, `test_shared_utils.fct_daily_scheduled_shapes`.`shape_array_key`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`feed_timezone`, `test_shared_utils.fct_daily_scheduled_shapes`.`n_trips`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`shape_first_departure_datetime_pacific`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`shape_last_arrival_datetime_pacific`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`contains_warning_duplicate_trip_primary_key`,
      `test_shared_utils.fct_daily_scheduled_shapes`.`pt_array` \nFROM `test_shared_utils.fct_daily_scheduled_shapes`
      \nWHERE `test_shared_utils.fct_daily_scheduled_shapes`.`service_date` = @`service_date_1`
      AND `test_shared_utils.fct_daily_scheduled_shapes`.`feed_key` IN UNNEST(@`feed_key_1`)",
      "maxResults": 5000, "requestId": "54151438-e271-40c2-b780-fa628db91dfc"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"},{"name":"service_date","type":"DATE","mode":"NULLABLE"},{"name":"shape_id","type":"STRING","mode":"NULLABLE"},{"name":"shape_array_key","type":"STRING","mode":"NULLABLE"},{"name":"feed_timezone","type":"STRING","mode":"NULLABLE"},{"name":"n_trips","type":"INTEGER","mode":"NULLABLE"},{"name":"shape_first_departure_datetime_pacific","type":"DATETIME","mode":"NULLABLE"},{"name":"shape_last_arrival_datetime_pacific","type":"DATETIME","mode":"NULLABLE"},{"name":"contains_warning_duplicate_trip_primary_key","type":"BOOLEAN","mode":"NULLABLE"},{"name":"pt_array","type":"GEOGRAPHY","mode":"REPEATED"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_wbzY_BHCZNuK7IlXOAdI0Rq6DxGF","location":"us-west2"},"totalRows":"1","rows":[{"f":[{"v":"7919234bd287ec04bee4729eb7a1bcd3"},{"v":"3ea60aa240ddc543da5415ccc759fd6d"},{"v":"2025-10-01"},{"v":"2m8h"},{"v":"a023425d1b44b2af7ffa58e220b7da8b"},{"v":"America/Los_Angeles"},{"v":"1"},{"v":"2025-10-01T09:45:00"},{"v":"2025-10-01T11:35:00"},{"v":"false"},{"v":[{"v":"POINT(-120.95261
        39.09977)"},{"v":"POINT(-120.95261 39.09976)"},{"v":"POINT(-120.95258 39.09982)"},{"v":"POINT(-120.95239
        39.09974)"},{"v":"POINT(-120.95177 39.09964)"},{"v":"POINT(-120.95158 39.09966)"},{"v":"POINT(-120.95109
        39.09787)"},{"v":"POINT(-120.95086 39.09687)"},{"v":"POINT(-120.95073 39.09627)"},{"v":"POINT(-120.95071
        39.09604)"}]}]}],"totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_wbzY_BHCZNuK7IlXOAdI0Rq6DxGF","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1764802457688","startTime":"1764802457745","endTime":"1764802457821"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
