interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}, {"parameterType": {"type": "STRING"},
      "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.dim_gtfs_datasets`.`regional_feed_type`,
      `test_shared_utils.dim_gtfs_datasets`.`type`, `test_shared_utils.fct_daily_schedule_feeds`.`key`,
      `test_shared_utils.fct_daily_schedule_feeds`.`date`, `test_shared_utils.fct_daily_schedule_feeds`.`feed_key`,
      `test_shared_utils.fct_daily_schedule_feeds`.`feed_timezone`, `test_shared_utils.fct_daily_schedule_feeds`.`base64_url`,
      `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key`, `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name`
      AS `name` \nFROM `test_shared_utils.dim_gtfs_datasets` JOIN `test_shared_utils.fct_daily_schedule_feeds`
      ON `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key` = `test_shared_utils.dim_gtfs_datasets`.`key`
      AND `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name` = `test_shared_utils.dim_gtfs_datasets`.`name`
      \nWHERE `test_shared_utils.dim_gtfs_datasets`.`data_quality_pipeline` = true
      AND `test_shared_utils.dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`) AND `test_shared_utils.fct_daily_schedule_feeds`.`date`
      = @`date_1`", "maxResults": 5000, "requestId": "ead495b0-4320-4e1b-8928-59172107c284"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"regional_feed_type","type":"STRING","mode":"NULLABLE"},{"name":"type","type":"STRING","mode":"NULLABLE"},{"name":"key","type":"STRING","mode":"NULLABLE"},{"name":"date","type":"DATETIME","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"},{"name":"feed_timezone","type":"STRING","mode":"NULLABLE"},{"name":"base64_url","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"name","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_zC94VNx2x40WdXlv0t831hN7u1Ct","location":"us-west2"},"totalRows":"4","rows":[{"f":[{"v":null},{"v":"schedule"},{"v":"625d9c588e8b936220a06bb85a7c063d"},{"v":"2025-09-01T00:00:00"},{"v":"0874d9772a918edbedff0493590d626a"},{"v":"America/New_York"},{"v":"aHR0cHM6Ly9jb250ZW50LmFtdHJhay5jb20vY29udGVudC9ndGZzL0dURlMuemlw"},{"v":"1165b1474df778cb0fc3ba9246e32035"},{"v":"Amtrak
        Schedule"}]},{"f":[{"v":"Combined Regional Feed"},{"v":"schedule"},{"v":"361663508967ce62a3557993829f8bf8"},{"v":"2025-09-01T00:00:00"},{"v":"c86f88ad0b15f5185d073f91f2130285"},{"v":"America/Los_Angeles"},{"v":"aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L2RhdGFmZWVkcz9vcGVyYXRvcl9pZD1SRw=="},{"v":"d6ed100168196d507b4ef1c0d111ee72"},{"v":"Bay
        Area 511 Regional Schedule"}]},{"f":[{"v":"Regional Precursor Feed"},{"v":"schedule"},{"v":"54749ffe7355490d3c2010e65aad95b8"},{"v":"2025-09-01T00:00:00"},{"v":"11a1255a25c6e03696785b085a46f6a4"},{"v":"US/Pacific"},{"v":"aHR0cHM6Ly9hcGkuYWN0cmFuc2l0Lm9yZy90cmFuc2l0L2d0ZnMvZG93bmxvYWQ="},{"v":"2f506f822a5f9b2afa48bda762a5e81d"},{"v":"AC
        Transit Schedule"}]},{"f":[{"v":"Regional Subfeed"},{"v":"schedule"},{"v":"80a64851bc2bcae60ebb5f8a56148ad9"},{"v":"2025-09-01T00:00:00"},{"v":"3bbe132a97a1510d3e1a265875ef7590"},{"v":null},{"v":"aHR0cHM6Ly9hcGkuNTExLm9yZy90cmFuc2l0L2RhdGFmZWVkcz9vcGVyYXRvcl9pZD1DRQ=="},{"v":"9f2566d34fde8d7d0d51b64bdf77a7ba"},{"v":"Bay
        Area 511 ACE Schedule"}]}],"totalBytesProcessed":"2281","jobComplete":true,"cacheHit":false,"queryId":"job_zC94VNx2x40WdXlv0t831hN7u1Ct","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"20971520","totalSlotMs":"29","location":"us-west2","creationTime":"1763776733598","startTime":"1763776733659","endTime":"1763776733792"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
