interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "schedule"}]}, "name": "type_1"}], "parameterMode": "NAMED", "useLegacySql":
      false, "formatOptions": {"useInt64Timestamp": true}, "location": "us-west2",
      "query": "SELECT `test_shared_utils.dim_gtfs_datasets`.`key` AS `gtfs_dataset_key`,
      `test_shared_utils.dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`, `test_shared_utils.dim_gtfs_datasets`.`private_dataset`
      \nFROM `test_shared_utils.dim_gtfs_datasets` \nWHERE `test_shared_utils.dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `test_shared_utils.dim_gtfs_datasets`.`type` IN UNNEST(@`type_1`)
      AND `test_shared_utils.dim_gtfs_datasets`.`private_dataset` IS NULL", "maxResults":
      5000, "requestId": "e3bdc612-e5a6-44b6-bf88-e1d3d207d78d"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"private_dataset","type":"BOOLEAN","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_4BwtlYoLBppDr5uoW_tQ_8n7j_9h","location":"us-west2"},"totalRows":"9","rows":[{"f":[{"v":"1165b1474df778cb0fc3ba9246e32035"},{"v":"Amtrak
        Schedule"},{"v":null}]},{"f":[{"v":"224050930309d60dbfad4b0b1ff8f17f"},{"v":"Alhambra
        Schedule"},{"v":null}]},{"f":[{"v":"fe61acc86788295b399a43cb35a9e9c5"},{"v":"Metrolink
        Schedule"},{"v":null}]},{"f":[{"v":"ff87c8304a909c02ef5045cc802864ab"},{"v":"Metrolink
        Schedule"},{"v":null}]},{"f":[{"v":"ff87c8304a909c02ef5045cc802864ab"},{"v":"Metrolink
        Schedule"},{"v":null}]},{"f":[{"v":"372a06b593e1716d1c911b1d1d35bedd"},{"v":"Santa
        Ynez Mecatran Schedule"},{"v":null}]},{"f":[{"v":"c51dbfdd47838f86074c4ef3179cc9ed"},{"v":"Santa
        Ynez Mecatran Schedule"},{"v":null}]},{"f":[{"v":"d6ed100168196d507b4ef1c0d111ee72"},{"v":"Bay
        Area 511 Regional Schedule"},{"v":null}]},{"f":[{"v":"2f506f822a5f9b2afa48bda762a5e81d"},{"v":"AC
        Transit Schedule"},{"v":null}]}],"totalBytesProcessed":"754","jobComplete":true,"cacheHit":false,"queryId":"job_4BwtlYoLBppDr5uoW_tQ_8n7j_9h","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"10485760","totalSlotMs":"15","location":"us-west2","creationTime":"1765322271037","startTime":"1765322271102","endTime":"1765322271226"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
