interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue": {"arrayValues":
      [{"value": "Metrolink Schedule"}]}, "name": "name_1"}, {"parameterType": {"type":
      "STRING"}, "parameterValue": {"value": "2025-09-01"}, "name": "date_1"}], "parameterMode":
      "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp": true},
      "location": "us-west2", "query": "SELECT `test_shared_utils.dim_gtfs_datasets`.`key`
      AS `gtfs_dataset_key`, `test_shared_utils.dim_gtfs_datasets`.`name` AS `gtfs_dataset_name`,
      `test_shared_utils.fct_daily_schedule_feeds`.`feed_key` \nFROM `test_shared_utils.dim_gtfs_datasets`
      JOIN `test_shared_utils.fct_daily_schedule_feeds` ON `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_key`
      = `test_shared_utils.dim_gtfs_datasets`.`key` AND `test_shared_utils.fct_daily_schedule_feeds`.`gtfs_dataset_name`
      = `test_shared_utils.dim_gtfs_datasets`.`name` \nWHERE `test_shared_utils.dim_gtfs_datasets`.`data_quality_pipeline`
      = true AND `test_shared_utils.dim_gtfs_datasets`.`name` IN UNNEST(@`name_1`)
      AND `test_shared_utils.fct_daily_schedule_feeds`.`date` = @`date_1`", "maxResults":
      5000, "requestId": "22f049ce-9ad7-4fff-ae23-77e208163a90"}'
    headers:
      Authorization:
      - FILTERED
      Content-Type:
      - application/json
      x-goog-user-project:
      - cal-itp-data-infra-staging
    method: POST
    uri: https://bigquery.googleapis.com/bigquery/v2/projects/cal-itp-data-infra-staging/queries?prettyPrint=false
  response:
    body:
      string: '{"kind":"bigquery#queryResponse","schema":{"fields":[{"name":"gtfs_dataset_key","type":"STRING","mode":"NULLABLE"},{"name":"gtfs_dataset_name","type":"STRING","mode":"NULLABLE"},{"name":"feed_key","type":"STRING","mode":"NULLABLE"}]},"jobReference":{"projectId":"cal-itp-data-infra-staging","jobId":"job_kfFkac0V08HhHw7m4V6SCLhq8K2a","location":"us-west2"},"totalRows":"0","totalBytesProcessed":"0","jobComplete":true,"cacheHit":true,"queryId":"job_kfFkac0V08HhHw7m4V6SCLhq8K2a","jobCreationReason":{"code":"REQUESTED"},"totalBytesBilled":"0","location":"us-west2","creationTime":"1764119797681","startTime":"1764119797748","endTime":"1764119797811"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
