interactions:
- request:
    body: '{"maximumBytesBilled": "5000000000", "queryParameters": [{"parameterType":
      {"type": "STRING"}, "parameterValue": {"value": "2025-11-02"}, "name": "service_date_1"},
      {"parameterType": {"type": "ARRAY", "arrayType": {"type": "STRING"}}, "parameterValue":
      {"arrayValues": [{"value": "de3b4f439f8542021168b5ca6f64cc9c"}]}, "name": "feed_key_1"}],
      "parameterMode": "NAMED", "useLegacySql": false, "formatOptions": {"useInt64Timestamp":
      true}, "location": "us-west2", "query": "SELECT `test_shared_utils.fct_daily_scheduled_stops`.`key`,
      `test_shared_utils.fct_daily_scheduled_stops`.`service_date`, `test_shared_utils.fct_daily_scheduled_stops`.`feed_key`,
      `test_shared_utils.fct_daily_scheduled_stops`.`stop_id`, `test_shared_utils.fct_daily_scheduled_stops`.`feed_timezone`,
      `test_shared_utils.fct_daily_scheduled_stops`.`stop_event_count`, `test_shared_utils.fct_daily_scheduled_stops`.`first_stop_arrival_datetime_pacific`,
      `test_shared_utils.fct_[...]
